<h2>Employee Details</h2>
<%= form_for @employee, :url => send_invitation_admin_employees_path do |f| %>
   <table style='width: 50%'>
     <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, :required => true %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, :required => true%></td>
    </tr>
    <tr>
      <td><%= f.label :designation %></td>
      <td><%= f.text_field :designation, :required => true%></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, :required => true %></td>
    </tr>
   </table>  
  <%= f.submit "Send an Invitation" %>
<% end %>
