<%= semantic_form_for [:admin, @employee], :url => send_invitation_admin_employees_path,  builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.inputs "Employee details" do %>
    <%= f.input :name %>
    <%= f.input :designation %>
    <%= f.input :email %>
    <%= f.input :contact_no %>
    <%= f.input :address %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: 'Send invitation' %>
    <li class="cancel"><%= link_to "Cancel", admin_employees_path %></li>
  <% end %>
<% end %>
