<%= render :partial => '/shared/nav' %><br>
  <strong> <h4>Item Requests History</strong></h4><hr>
  <table class="table table-striped"> 
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Requested Date</th>
        <th>Approved Date</th>
      </tr>
    </thead>
    <tbody>
      <% @item_requests.each do |item_request| %>
        <tr>
          <td><%= item_request.item %></td>
          <td><%= item_request.quantity %></td>
          <td><%= item_request.status %></td>
          <td><%= item_request.created_at.to_date %></td>
          <td><%= item_request.approved_date %></td>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td> <%= link_to 'Back', employee_dashboard_index_path, class: 'btn btn-orange' %> </td>
      </tr>
    </tfoot>
  </table>

 