<h3>Requested Item</h3><br>
<p>
  <strong>Item name:</strong>
  <%= @item_request.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item_request.quantity %>
</p>

<p>
  <strong>Reason of need:</strong>
  <%= @item_request.reason %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @item_request.created_at %>
</p>

<%= link_to 'Back', item_requests_path %>
