<body id="homepage">
  <div class="panel panel-default custom-panel-position">
    <div class="panel-heading text-center">
      <h4><strong>Confirm email</strong></h4>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Send confirmation instructions", class: 'btn btn-success', style: "width: 100%;" %>
        </div>
      <% end %>
    </div>
  </div>
</body>


