<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>      
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                   <h4 class="m-b-20"><%= link_to 'Request an Item',new_item_request_path %> </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                  <h4 class="m-b-20">Your Items </h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h4 class="m-b-20"><%= link_to 'Your Item Requests', item_requests_path %> </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <h3>Recent Activity</h3>
        <table class="table table-striped" %> 
            <thead>
                <tr>
                <th>Item name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Requested Date</th>
                <th>Approved Date</th>
                <th colspan="3">Action</th>
                </tr>
            </thead>

            <tbody>
                <% @item_requests.order("created_at desc").limit(5).each do |item_request| %>
                    <tr>
                        <td><%= item_request.item %></td>
                        <td><%= item_request.quantity %></td>
                        <td><%= item_request.status %></td>
                        <td><%= item_request.created_at.to_date %></td>
                        <td><%= @date %></td>
                        <td><%= link_to 'Show', item_request %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
         <%= link_to 'View all', item_requests_path %>
    </div>
</div>
</body>
</html>