<%= form_for @employee, url: employee_session_path  do |f| %>
  <% if @employee.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield %>
  
  <div class="actions">
    <%= f.submit "Continue" %>
   <!--or <%= link_to "skip this step", next_wizard_path %> -->
  </div>
<% end %>