<body id="homepage">
  <div class="panel panel-default custom-panel-position">
    <div class="panel-heading text-center">
      <h4><strong>Set your password</strong></h4>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "Password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm password" %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="loginactions">
          <%= f.submit "Set password" ,class: 'btn btn-success',style:"width: 100%;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

