<p id="notice"><%= notice %></p>

<h1>Your Items</h1>

<table class="table table-striped" style="width: 50%"> 
  <thead>
    <tr>
      <th>Item name</th>
      <th>Assigned Quantity</th>
      <th>Status</th>
      <th>Assigned date</th>   
      <th>Returned date</th>   
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= Item.find(item.item_id).name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.status %></td>
        <td><%= item.created_at.to_date %></td>
        <td><%= item.returned_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
