<%= render :partial => '/shared/nav' %>
<br>
<strong> <h4>Your Items</strong></h4>
<hr>
<table class="table table-striped" > 
  <thead>
    <tr>
      <th>Item name</th>
      <th>Assigned Quantity</th>
      <th>Status</th>
      <th>Assigned date</th>   
      <th>Returned date</th>   
    </tr>
  </thead>

  <tbody>
    <% if @items.empty? %>
      <tr>
          <td colspan= "5">No items yet </td>
      </tr>
    <% else %>
      <% @items.order("created_at desc").each do |item| %>
        <tr>
          <td><%= Item.find(item.item_id).name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.status %></td>
          <td><%= item.created_at.to_date %></td>
          <td><%= item.returned_date %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
   <tfoot>
      <tr>
        <td> <%= link_to 'Back', employee_dashboard_index_path, class: 'btn btn-orange' %> </td>
      </tr>
    </tfoot>
</table>
