<!DOCTYPE html>
<html>
  <head>
    <title>JyaasaInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script src="http://parsleyjs.org/dist/parsley.js"></script>
  </head>
  <body>     
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
          <p> &copy; Jyaasa Inventory <%= Date.today.year %> All Rights Reserved</p>    
    </div>
    
  </body>
</html>
