<!DOCTYPE html>
<html>
  <head>
    <title>JyaasaInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>     
   <nav class="navbar navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Jyaasa Inventory", root_path, class: "navbar-brand text-uppercase" %>          
        </div>
        <% if employee_signed_in? %>
            <div class="navbar-right nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= @email %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Edit profile", edit_employee_registration_path %></li>
                        <li><%= link_to "Log out", destroy_employee_session_path, :method => 'delete'%></li>
                    </ul>
                </li>                   
            </div>
        <% end %>
      </div>
    </nav> 
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
